@model MVC_TestBed.Models.GoalContext


@{
    var unusedTeams = Model.AllTeams.Where(t=>!Model.CurrentTeams.Contains(t)).ToList();
}
@for (int i = 0; i < unusedTeams.Count; i++)
{
    <div class="box">@unusedTeams[i].Name</div>
}

    <script type="text/javascript">
        $("div.box").draggable();
    </script>